<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='signup.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<section>
    <div class="auth-container">
        <form class="auth-form signup-form" action="/home" method='POST'>
            <h2>Sign Up</h2>
            <div class="form-group">
                <label for="fullname">Full Name:</label>
                <input type="text" name="fullname" id="fullname" required>
            </div>
            <div class="form-group">
                <label for="number">Phone Number:</label>
                <input type="tel" name="number" id="number" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="form-group">
                <label for="addressline1">Address Line 1:</label>
                <input type="text" name="addressline1" id="addressline1" required>
            </div>
            <div class="form-group">
                <label for="addressline2">Address Line 2:</label>
                <input type="text" name="addressline2" id="addressline2">
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" name="city" id="city" required>
            </div>
            <div class="form-group">
                <label for="state">State:</label>
                <input type="text" name="state" id="state" required>
            </div>
            <div class="form-group">
                <label for="pincode">Pincode:</label>
                <input type="text" name="pincode" id="pincode" required>
            </div>
            <div class="form-group">
                <label>Reading Preferences:</label>
                <select name="preferenceone" required>
                    <option value="">Select Preference 1</option>
                    <option value="fiction">Fiction</option>
                    <option value="non-fiction">Non-Fiction</option>
                    <option value="science">Science</option>
                    <option value="biography">Biography</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="mystery">Mystery</option>
                </select>
                <select name="preferencetwo">
                    <option value="">Select Preference 2</option>
                    <option value="fiction">Fiction</option>
                    <option value="non-fiction">Non-Fiction</option>
                    <option value="science">Science</option>
                    <option value="biography">Biography</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="mystery">Mystery</option>
                </select>
                <select name="preferencethree">
                    <option value="">Select Preference 3</option>
                    <option value="fiction">Fiction</option>
                    <option value="non-fiction">Non-Fiction</option>
                    <option value="science">Science</option>
                    <option value="biography">Biography</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="mystery">Mystery</option>
                </select>
            </div>
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="/">Login</a></p>
        </form>
    </div>
</section>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
